*{
    padding: 0px;
    margin: 0px;
}

.menu-container{
    display: flex;
    justify-content:space-between;
    background-color: black;
    padding: 15px;
    color: white;
    
}

.menu-items{
    display: flex;
}

.menu-items li{
    list-style: none;
    margin: 5px;
    padding: 10px;
    font-size: 18px;
}

.menu-items li:hover{
    color: blue;
    cursor: pointer;
}
.banner-container
{
    color: white;
    display: flex;
    width: 100%;
    align-items: center;
    height: 100vh;
    background-color: black;
   
    /* justify-content: space-evenly; */
}
.banner-description{
    margin-left: 50px;
}
.banner-text{
    color: red;
    font-size: 20px;
}
.title1
{
    font-size: 60px;
}
.text{
    font-size: 25px;
    margin: 10px;
}
.banner-btn{
    padding:15px 30px;
    background-color: rgb(244,6,45);
    margin: 10px;
    font-size: 18px;
    color: white;
}
